<ol class="flex items-center whitespace-nowrap" aria-label="Breadcrumb">
  <li class="inline-flex items-center">
    <a
      class="
        flex items-center text-sm text-gray-500 hover:text-blue-600 focus:outline-none
        focus:text-blue-600 dark:focus:text-blue-500
      "
      href="/"
    >
      Home
    </a>
    <svg
      class="
        flex-shrink-0 mx-2 overflow-visible h-4 w-4 text-gray-400 dark:text-neutral-600
        dark:text-neutral-600
      "
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    ><path d="m9 18 6-6-6-6"/></svg>
  </li>
  <li class="inline-flex items-center">
    <a
      class="
        flex items-center text-sm text-gray-500 hover:text-blue-600 focus:outline-none
        focus:text-blue-600 dark:focus:text-blue-500
      "
      href="/courses"
    >
      Courses
      <svg
        class="
          flex-shrink-0 mx-2 overflow-visible h-4 w-4 text-gray-400 dark:text-neutral-600
          dark:text-neutral-600
        "
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      ><path d="m9 18 6-6-6-6"/></svg>
    </a>
  </li>
  <li class="inline-flex items-center">
    <a
      class="
        flex items-center text-sm text-gray-500 hover:text-blue-600 focus:outline-none
        focus:text-blue-600 dark:focus:text-blue-500
      "
      href="<%= course_path(@course) %>"
    >
      <%= @course.title %>
      <svg
        class="
          flex-shrink-0 mx-2 overflow-visible h-4 w-4 text-gray-400 dark:text-neutral-600
        "
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      ><path d="m9 18 6-6-6-6"/></svg>
    </a>
  </li>
  <li class="inline-flex items-center">
    <a
      class="
        flex items-center text-sm text-gray-500 hover:text-blue-600 focus:outline-none
        focus:text-blue-600 dark:focus:text-blue-500
      "
      href="<%= course_lessons_path(@course) %>"
    >
      Lessons
      <svg
        class="
          flex-shrink-0 mx-2 overflow-visible h-4 w-4 text-gray-400 dark:text-neutral-600
        "
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      ><path d="m9 18 6-6-6-6"/></svg>
    </a>
  </li>
  <li
    class="
      inline-flex items-center text-sm font-semibold text-gray-800 truncate
      dark:text-gray-200
    "
    aria-current="page"
  >
    <%= @lesson.title %>
  </li>
</ol>
<!-- Card Blog -->
<div
  class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto"
  data-controller="lesson-history"
>
  <input
    data-lesson-history-target="readTime"
    hidden
    readonly
    value="<%= @lesson.read_time %>"
  >
  <input
    data-lesson-history-target="enrollment"
    hidden
    readonly
    value="<%= @enrollment.id %>"
  >
  <input
    data-lesson-history-target="lesson"
    hidden
    readonly
    value="<%= @lesson.id %>"
  >
  <input
    data-lesson-history-target="viewedLesson"
    hidden
    readonly
    value="<%= @lesson.viewed_lesson? current_user %>"
  >
  <!-- Grid -->
  <div class="grid sm:grid-cols-2 sm:items-center gap-8">
    <div class="sm:order-2">
      <div class="relative pt-[50%] sm:pt-[100%] rounded-lg">
        <img
          class="w-full h-full absolute top-0 start-0 object-cover rounded-lg"
          src="<%= @lesson.photo_url %>"
          alt="Lesson Image"
        >
      </div>
    </div>
    <!-- End Col -->
    <div class="sm:order-1">
      <h2
        class="
          text-2xl font-bold md:text-3xl lg:text-4xl lg:leading-tight xl:text-5xl
          xl:leading-tight text-gray-800 dark:text-gray-200
        "
      >
        <p
          class="
            hover:text-blue-600 dark:text-gray-300 dark:hover:text-white
            dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600
            cursor-pointer
          "
        >
          <%= @lesson.title.capitalize %>
        </p>
      </h2>

      <p
        class="
          mb-5 inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-lg font-medium
          bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-200
        "
      >
        <%= @lesson.description %>
      </p>
    </div>
    <!-- End Col -->
  </div>
  <!-- Avatar -->
  <div
    style="justify-content: space-between;"
    class="mt-6 sm:mt-10 flex justify-between items-center w-full"
  >
    <% if @lesson.course.created_by.present? %>
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <img
            class="h-10 w-10 sm:h-14 sm:w-14 rounded-full"
            src="<%= @lesson.course.created_by.gravatar %>"
            alt="Image Description"
          >
        </div>

        <div class="ms-3 sm:ms-4">
          <p class="sm:mb-1 font-semibold text-gray-800 dark:text-gray-200">
            <%= @lesson.course.created_by.name.capitalize %>
          </p>
          <p class="text-xs text-gray-500">
            <%= @lesson.course.created_by.role.capitalize %>
          </p>
        </div>
      </div>
    <% end %>
    <!-- End Avatar -->
    <% if @next_lesson.present? %>
      <div>
        <a
          style="color: rgb(59 130 246 / 1);"
          class="
            mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-lg border
            border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50
            disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400
            dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600
          "
          href="<%= show_course_lesson_path(@course, @next_lesson) %>"
        >
          Next Lesson
          <svg
            class="flex-shrink-0 w-4 h-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          ><path d="m9 18 6-6-6-6"/></svg>
        </a>
      </div>
    <% else %>
      <div>
        <a
          style="color: rgb(59 130 246 / 1);"
          class="
            mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-lg border
            border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50
            disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400
            dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600
          "
          href="<%= course_lessons_path(@course) %>"
        >
          Go back to course
          <svg
            class="flex-shrink-0 w-4 h-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          ><path d="m9 18 6-6-6-6"/></svg>
        </a>
      </div>
    <% end %>
  </div>
  <!-- End Grid -->
</div>
<!-- End Card Blog -->
