<!DOCTYPE html>
<html>
  <head>
    <title>Course Blink</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="theme-color" content="#70d8ef">
    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body class="bg-gray-100 dark:bg-gray-800">
    <%= render 'layouts/topbar' %>
    <%= render 'layouts/sidebar' %>
    <div style="min-height:100vh;" class="w-full pt-10 px-4 sm:px-6 md:px-8 lg:pl-72">
      <%= yield %>
    </div>
  </body>
</html>
